doctype
html
  head
    title Ancient War
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=MedievalSharp')
  body
    h1(id='main') Welcome to Ancient War.
