doctype
html
  head
    title Ancient War
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=MedievalSharp')
  body
    h1(id='intro') Welcome to Ancient War.
    div(id='historyContainer') 
      table(id='history')
        tbody
          each action, i in history
            tr
              if action.author == 'Server'
                td(class='sauthor')= action.author + ':'
              else
                td(class='author')= action.author + ':'
              td(class='description')= action.description
    div(id='inputContainer')
      form(action='do', method='post', enctype='application/json')
          input(id='actionField', type='text', name='input', autofocus='autofocus', autocomplete='off')
    
