body {
  background-color: #000000;
}

h1 {
  font-family: 'MedievalSharp', monospace;
  color: white;
}

#intro {
  text-align: center;
  font-size: 50px;
  margin-top: 3%
}

#leftWrap {
  position: relative;
  height: 650px;
  width: 45%;
  overflow-y: auto;
  border: 1px solid white;
  margin-left: 2.5%;
  margin-top: 1%;
  float: left;
}

#history {
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
}

#inputContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 99%;
}

#actionField {
  width: 100%;
}

.author {
  font-family: 'MedievalSharp', monospace;
  color: red;
}

.sauthor {
  font-family: 'MedievalSharp', monospace;
  color: blue;
}

.description {
  font-family: 'MedievalSharp', monospace;
  color: white;
  word-break: break-all;
}

#rightWrap {
  position: relative;
  float: left;
  width: 45%;
  margin-top: 1%;
  margin-left: 2.5%;
}

#stats {
  padding-left: 30px;
  border: 1px solid white;
  font-family: 'MedievalSharp', monospace;
  color: white;
  width: 100%;
  min-height: 200px;
  height: 200px;
}

#inven {
  padding-left: 30px;
  border: 1px solid white;
  font-family: 'MedievalSharp', monospace;
  color: white;
  width: 100%;
  min-height: 200px;
  height: 200px;
  margin-top: 50px;
}
