body {
  background-color: #000000;
}

h1 {
  font-family: 'MedievalSharp', monospace;
  color: white;
}

#intro {
  text-align: center;
  font-size: 50px;
  margin-top: 3%
}

#leftWrap {
  position: relative;
  height: 650px;
  width: 45%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid white;
  margin-left: 2.5%;
  margin-top: 1%;
  float: left;
}

#history {
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
}

#inputContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#actionInput {
  width: 98%;
}

.author {
  font-family: 'MedievalSharp', monospace;
  color: white;
}

.description {
  font-family: 'MedievalSharp', monospace;
  color: white;
  word-break: break-all;
}

#rightWrap {
  margin-left: 50px;
  float: left;  
  width: 45%;
}
