body {
  background-color: #000000;
}

h1 {
  font-family: 'MedievalSharp', monospace;
  color: white;
}

#intro {
  text-align: center;
  font-size: 50px;
  margin-top: 3%
}

#historyContainer {
  position: relative;
  height: 650px;
  width: 45%;
  overflow-y: auto;
  border: 1px solid white;
  margin-left: 5%;
  margin-top: 3%;
}

#history {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#inputContainer {
  width: 44.9%;
  position: relative;
  margin-left: 4.9%;
}

#actionField {
  width: 100%;
}

.author {
  font-family: 'MedievalSharp', monospace;
  color: red;
}

.sauthor {
  font-family: 'MedievalSharp', monospace;
  color: blue;
}

.description {
  font-family: 'MedievalSharp', monospace;
  color: white;
  word-break: break-all;
}
